/* Capa - Responsive CSS Grid created by Vinny Moreira */
/* reset */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
body {
    line-height: 1
}
ol, ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
/* reset */
/* all columns */
 .c5, .c10, .c15, .c20, .c25, .c30, .c33, .c35, .c40, .c45, .c50, .c55, .c60, .c65, .c66, .c70, .c75, .c80, .c85, .c90, .c95, .c100, .d5, .d10, .d15, .d20, .d25, .d30, .d33, .d35, .d40, .d45, .d50, .d55, .d60, .d65, .d66, .d70, .d75, .d80, .d85, .d90, .d95, .d100, .t5, .t10, .t15, .t20, .t25, .t30, .t33, .t35, .t40, .t45, .t50, .t55, .t60, .t65, .t66, .t70, .t75, .t80, .t85, .t90, .t95, .t100, .m5, .m10, .m15, .m20, .m25, .m30, .m33, .m35, .m40, .m45, .m50, .m55, .m60, .m65, .m66, .m70, .m75, .m80, .m85, .m90, .m95, .m100 {
     float: left;
     padding: 0 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 .push-5, .push-10, .push-15, .push-20, .push-25, .push-30, .push-33, .push-35, .push-40, .push-45, .push-50, .push-55, .push-60, .push-65, .push-66, .push-70, .push-75, .push-80, .push-85, .push-90, .push-95, .pull-5, .pull-10, .pull-15, .pull-20, .pull-25, .pull-30, .pull-33, .pull-35, .pull-40, .pull-45, .pull-50, .pull-55, .pull-60, .pull-65, .pull-66, .pull-70, .pull-75, .pull-80, .pull-85, .pull-90, .pull-95, .d-push-5, .d-push-10, .d-push-15, .d-push-20, .d-push-25, .d-push-30, .d-push-33, .d-push-35, .d-push-40, .d-push-45, .d-push-50, .d-push-55, .d-push-60, .d-push-65, .d-push-66, .d-push-70, .d-push-75, .d-push-80, .d-push-85, .d-push-90, .d-push-95, .d-pull-5, .d-pull-10, .d-pull-15, .d-pull-20, .d-pull-25, .d-pull-30, .d-pull-33, .d-pull-35, .d-pull-40, .d-pull-45, .d-pull-50, .d-pull-55, .d-pull-60, .d-pull-65, .d-pull-66, .d-pull-70, .d-pull-75, .d-pull-80, .d-pull-85, .d-pull-90, .d-pull-95, .t-push-5, .t-push-10, .t-push-15, .t-push-20, .t-push-25, .t-push-30, .t-push-33, .t-push-35, .t-push-40, .t-push-45, .t-push-50, .t-push-55, .t-push-60, .t-push-65, .t-push-66, .t-push-70, .t-push-75, .t-push-80, .t-push-85, .t-push-90, .t-push-95, .t-pull-5, .t-pull-10, .t-pull-15, .t-pull-20, .t-pull-25, .t-pull-30, .t-pull-33, .t-pull-35, .t-pull-40, .t-pull-45, .t-pull-50, .t-pull-55, .t-pull-60, .t-pull-65, .t-pull-66, .t-pull-70, .t-pull-75, .t-pull-80, .t-pull-85, .t-pull-90, .t-pull-95, .m-push-5, .m-push-10, .m-push-15, .m-push-20, .m-push-25, .m-push-30, .m-push-33, .m-push-35, .m-push-40, .m-push-45, .m-push-50, .m-push-55, .m-push-60, .m-push-65, .m-push-66, .m-push-70, .m-push-75, .m-push-80, .m-push-85, .m-push-90, .m-push-95, .m-pull-5, .m-pull-10, .m-pull-15, .m-pull-20, .m-pull-25, .m-pull-30, .m-pull-33, .m-pull-35, .m-pull-40, .m-pull-45, .m-pull-50, .m-pull-55, .m-pull-60, .m-pull-65, .m-pull-66, .m-pull-70, .m-pull-75, .m-pull-80, .m-pull-85, .m-pull-90, .m-pull-95 {
     position: relative;
}
 .push-5 {
     left: 5%;
}
 .push-10 {
     left: 10%;
}
 .push-15 {
     left: 15%;
}
 .push-20 {
     left: 20%;
}
 .push-25 {
     left: 25%;
}
 .push-30 {
     left: 30%;
}
 .push-33 {
     left: 33.33%;
}
 .push-35 {
     left: 35%;
}
 .push-40 {
     left: 40%;
}
 .push-45 {
     left: 45%;
}
 .push-50 {
     left: 50%;
}
 .push-55 {
     left: 55%;
}
 .push-60 {
     left: 60%;
}
 .push-65 {
     left: 65%;
}
 .push-66 {
     left: 66.66%;
}
 .push-70 {
     left: 70%;
}
 .push-75 {
     left: 75%;
}
 .push-80 {
     left: 80%;
}
 .push-85 {
     left: 85%;
}
 .push-90 {
     left: 90%;
}
 .push-95 {
     left: 95%;
}
 .pull-5 {
     left: -5%;
}
 .pull-10 {
     left: -10%;
}
 .pull-15 {
     left: -15%;
}
 .pull-20 {
     left: -20%;
}
 .pull-25 {
     left: -25%;
}
 .pull-30 {
     left: -30%;
}
 .pull-33 {
     left: -33.33%;
}
 .pull-35 {
     left: -35%;
}
 .pull-40 {
     left: -40%;
}
 .pull-45 {
     left: -45%;
}
 .pull-50 {
     left: -50%;
}
 .pull-55 {
     left: -55%;
}
 .pull-60 {
     left: -60%;
}
 .pull-65 {
     left: -65%;
}
 .pull-66 {
     left: -66.66%;
}
 .pull-70 {
     left: -70%;
}
 .pull-75 {
     left: -75%;
}
 .pull-80 {
     left: -80%;
}
 .pull-85 {
     left: -85%;
}
 .pull-90 {
     left: -90%;
}
 .pull-95 {
     left: -95%;
}
/* all columns */
/* default columns (c) */
 .c5 {
     width: 5%;
}
 .c10 {
     width: 10%;
}
 .c15 {
     width: 15%;
}
 .c20 {
     width: 20%;
}
 .c25 {
     width: 25%;
}
 .c30 {
     width: 30%;
}
 .c33 {
     width: 33.33%;
}
 .c35 {
     width: 35%;
}
 .c40 {
     width: 40%;
}
 .c45 {
     width: 45%;
}
 .c50 {
     width: 50%;
}
 .c55 {
     width: 55%;
}
 .c60 {
     width: 60%;
}
 .c65 {
     width: 65%;
}
 .c66 {
     width: 66.66%;
}
 .c70 {
     width: 70%;
}
 .c75 {
     width: 75%;
}
 .c80 {
     width: 80%;
}
 .c85 {
     width: 85%;
}
 .c90 {
     width: 90%;
}
 .c95 {
     width: 95%;
}
 .c100 {
     width: 100%;
}
/* html elements */
 html {
     font-size: 62.5%;
}
 body {
     font-family: sans-serif;
     font-size: 1.6rem;
}
 dl, hr, pre, table, address, fieldset, figure {
     margin-bottom: 25px;
}
 sub, sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
}
 sub {
     bottom: -0.25em;
}
 sup {
     top: -0.5em;
}
 p {
     margin: 0 0 20px 0;
     line-height: 1.5;
}
 a {
     text-decoration: none;
     color: #666;
}
 a:hover {
     color: #999;
}
 b, strong {
     font-weight: bold;
}
 i, em {
     font-style: italic;
}
 .btn {
     display: inline-block;
     text-align: center;
     padding: 12px;
     background: #eee;
     color: #666;
     text-align: center;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 .btn.dark {
     background: #000;
     color: #FFF;
}
 .btn.dark:hover {
     background: #FFF;
     color: #000;
}
 .btn.light {
     background: #FFF;
     color: #000;
}
 .btn.light:hover {
     background: #000;
     color: #FFF;
}
 .dark {
     background: #000;
     color: #FFF;
}
 .light {
     background: #FFF;
     color: #000;
}
 .rounded {
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}
 .transition {
     -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
     transition: all .3s ease-out;
}
 .no-transition {
     -webkit-transition: none;
     -moz-transition: none;
     transition: none;
}
 h1, h2, h3, h4, h5, h6 {
     margin: 0 0 25px;
     line-height: normal;
}
 h1 {
     font-size: 3.6rem;
     margin-top: 0;
}
 h2 {
     font-size: 3.2rem;
}
 h3 {
     font-size: 2.8rem;
}
 h4 {
     font-size: 2.4rem;
}
 h5 {
     font-size: 2.2rem;
}
 h6 {
     font-size: 2rem;
}
 ol, ul {
     margin: 0 0 25px 0;
     line-height: 1.5;
}
 ol {
     list-style: decimal;
}
 ul {
     list-style: disc;
}
 li {
     margin-left: 15px;
}
 input, select, textarea {
     width: 100%;
     font: inherit;
     border: 1px solid #ddd;
     padding: 8px 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     background-color: transparent;
}
 input[type="radio"] {
     width: auto;
}
 input[type="submit"], input[type="button"] {
     width: auto;
     display: inline-block;
     border: 0;
     padding: 12px;
     cursor: pointer;
     text-align: center;
}
 textarea {
     height: auto;
     min-height: 50px;
}
 hr {
     border: 0 #dedede solid;
     border-top-width: 1px;
     clear: both;
     margin-top: 25px;
}
/* html elements */
/* general layout */
 .container {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 10px;
     box-sizing: border-box;
}
 .container:before, .container:after {
     content: '';
     clear: both;
     display: block;
}
 .container.full {
     max-width: 100%;
}
 .container.narrow {
     max-width: 960px;
}
 .fl {
     float: left;
}
 .fr {
     float: right;
}
 .clear, .clearfix {
     clear: both;
     display: block;
     width: 0;
     height: 0;
}
 .margin {
     margin: 0 10px;
}
 .padding {
     padding: 0 10px;
}
 .no-margin {
     margin: 0;
}
 .no-padding {
     padding: 0;
}
 .hide {
     display: none;
}
 .show {
     display: block;
}
 .flip {
     float: right;
}
 .img-responsive {
     max-width: 100%;
     width: auto;
}
 .responsive {
     position: relative;
     padding-bottom: 56.25%;
     height: 0;
}
 .responsive iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
 .text-left {
     text-align: left;
}
 .text-center {
     text-align: center;
}
 .text-right {
     text-align: right;
}
 .btn {
     display: inline-block;
     cursor: pointer;
}
/* general layout */
/* capa form */
 .cform input, .cform textarea, .cform select {
     margin: 0 0 15px 0;
}
 .cform select {
     height: 34px;
}
 .cform select option[disabled="disabled"] {
     color: gray;
}
 .cform input[type="radio"] {
     margin-right: 2px;
}
 .cform input[type="submit"], .cform input[type="button"] {
     background: #eee;
     color: #666;
     min-width: 120px;
}
 .cform input[type="submit"]:hover, .cform input[type="button"]:hover {
     background: #666;
     color: #FFF;
}
 .cform.rounded input, .cform.rounded textarea, .cform.rounded select {
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
}
/* capa form */
/* desktop (d) */
 @media only screen and (max-width : 1160px) {
     .d5 {
         width: 5%;
    }
     .d10 {
         width: 10%;
    }
     .d15 {
         width: 15%;
    }
     .d20 {
         width: 20%;
    }
     .d25 {
         width: 25%;
    }
     .d30 {
         width: 30%;
    }
     .d33 {
         width: 33.33%;
    }
     .d35 {
         width: 35%;
    }
     .d40 {
         width: 40%;
    }
     .d45 {
         width: 45%;
    }
     .d50 {
         width: 50%;
    }
     .d55 {
         width: 55%;
    }
     .d60 {
         width: 60%;
    }
     .d65 {
         width: 65%;
    }
     .d70 {
         width: 70%;
    }
     .d75 {
         width: 75%;
    }
     .d80 {
         width: 80%;
    }
     .d85 {
         width: 85%;
    }
     .d90 {
         width: 90%;
    }
     .d95 {
         width: 95%;
    }
     .d100 {
         width: 100%;
    }
     .d-push-5 {
         left: 5%;
    }
     .d-push-10 {
         left: 10%;
    }
     .d-push-15 {
         left: 15%;
    }
     .d-push-20 {
         left: 20%;
    }
     .d-push-25 {
         left: 25%;
    }
     .d-push-30 {
         left: 30%;
    }
     .d-push-33 {
         left: 33.33%;
    }
     .d-push-35 {
         left: 35%;
    }
     .d-push-40 {
         left: 40%;
    }
     .d-push-45 {
         left: 45%;
    }
     .d-push-50 {
         left: 50%;
    }
     .d-push-55 {
         left: 55%;
    }
     .d-push-60 {
         left: 60%;
    }
     .d-push-65 {
         left: 65%;
    }
     .d-push-70 {
         left: 70%;
    }
     .d-push-75 {
         left: 75%;
    }
     .d-push-80 {
         left: 80%;
    }
     .d-push-85 {
         left: 85%;
    }
     .d-push-90 {
         left: 90%;
    }
     .d-push-95 {
         left: 95%;
    }
     .d-pull-5 {
         left: -5%;
    }
     .d-pull-10 {
         left: -10%;
    }
     .d-pull-15 {
         left: -15%;
    }
     .d-pull-20 {
         left: -20%;
    }
     .d-pull-25 {
         left: -25%;
    }
     .d-pull-30 {
         left: -30%;
    }
     .d-pull-33 {
         left: -33.33%;
    }
     .d-pull-35 {
         left: -35%;
    }
     .d-pull-40 {
         left: -40%;
    }
     .d-pull-45 {
         left: -45%;
    }
     .d-pull-50 {
         left: -50%;
    }
     .d-pull-55 {
         left: -55%;
    }
     .d-pull-60 {
         left: -60%;
    }
     .d-pull-65 {
         left: -65%;
    }
     .d-pull-70 {
         left: -70%;
    }
     .d-pull-75 {
         left: -75%;
    }
     .d-pull-80 {
         left: -80%;
    }
     .d-pull-85 {
         left: -85%;
    }
     .d-pull-90 {
         left: -90%;
    }
     .d-pull-95 {
         left: -95%;
    }
     .d-flip {
         float: right;
    }
     .d-no-padding {
         padding: 0;
    }
     .d-no-margin {
         margin: 0;
    }
     .d-hide {
         display: none;
    }
     .d-show {
         display: block;
    }
}
/* tablet (t) */
 @media only screen and (max-width : 768px) {
     .t5 {
         width: 5%;
    }
     .t10 {
         width: 10%;
    }
     .t15 {
         width: 15%;
    }
     .t20 {
         width: 20%;
    }
     .t25 {
         width: 25%;
    }
     .t30 {
         width: 30%;
    }
     .t33 {
         width: 33.33%;
    }
     .t35 {
         width: 35%;
    }
     .t40 {
         width: 40%;
    }
     .t45 {
         width: 45%;
    }
     .t50 {
         width: 50%;
    }
     .t55 {
         width: 55%;
    }
     .t60 {
         width: 60%;
    }
     .t65 {
         width: 65%;
    }
     .t70 {
         width: 70%;
    }
     .t75 {
         width: 75%;
    }
     .t80 {
         width: 80%;
    }
     .t85 {
         width: 85%;
    }
     .t90 {
         width: 90%;
    }
     .t95 {
         width: 95%;
    }
     .t100 {
         width: 100%;
    }
     .t-push-5 {
         left: 5%;
    }
     .t-push-10 {
         left: 10%;
    }
     .t-push-15 {
         left: 15%;
    }
     .t-push-20 {
         left: 20%;
    }
     .t-push-25 {
         left: 25%;
    }
     .t-push-30 {
         left: 30%;
    }
     .t-push-33 {
         left: 33.33%;
    }
     .t-push-35 {
         left: 35%;
    }
     .t-push-40 {
         left: 40%;
    }
     .t-push-45 {
         left: 45%;
    }
     .t-push-50 {
         left: 50%;
    }
     .t-push-55 {
         left: 55%;
    }
     .t-push-60 {
         left: 60%;
    }
     .t-push-65 {
         left: 65%;
    }
     .t-push-70 {
         left: 70%;
    }
     .t-push-75 {
         left: 75%;
    }
     .t-push-80 {
         left: 80%;
    }
     .t-push-85 {
         left: 85%;
    }
     .t-push-90 {
         left: 90%;
    }
     .t-push-95 {
         left: 95%;
    }
     .t-pull-5 {
         left: -5%;
    }
     .t-pull-10 {
         left: -10%;
    }
     .t-pull-15 {
         left: -15%;
    }
     .t-pull-20 {
         left: -20%;
    }
     .t-pull-25 {
         left: -25%;
    }
     .t-pull-30 {
         left: -30%;
    }
     .t-pull-33 {
         left: -33.33%;
    }
     .t-pull-35 {
         left: -35%;
    }
     .t-pull-40 {
         left: -40%;
    }
     .t-pull-45 {
         left: -45%;
    }
     .t-pull-50 {
         left: -50%;
    }
     .t-pull-55 {
         left: -55%;
    }
     .t-pull-60 {
         left: -60%;
    }
     .t-pull-65 {
         left: -65%;
    }
     .t-pull-70 {
         left: -70%;
    }
     .t-pull-75 {
         left: -75%;
    }
     .t-pull-80 {
         left: -80%;
    }
     .t-pull-85 {
         left: -85%;
    }
     .t-pull-90 {
         left: -90%;
    }
     .t-pull-95 {
         left: -95%;
    }
     .t-flip {
         float: right;
    }
     .t-no-padding {
         padding: 0;
    }
     .t-no-margin {
         margin: 0;
    }
     .t-hide {
         display: none;
    }
     .t-show {
         display: block;
    }
}
/* mobile (m) */
 @media only screen and (max-width : 420px) {
     .m5 {
         width: 5%;
    }
     .m10 {
         width: 10%;
    }
     .m15 {
         width: 15%;
    }
     .m20 {
         width: 20%;
    }
     .m25 {
         width: 25%;
    }
     .m30 {
         width: 30%;
    }
     .m33 {
         width: 33.33%;
    }
     .m35 {
         width: 35%;
    }
     .m40 {
         width: 40%;
    }
     .m45 {
         width: 45%;
    }
     .m50 {
         width: 50%;
    }
     .m55 {
         width: 55%;
    }
     .m60 {
         width: 60%;
    }
     .m65 {
         width: 65%;
    }
     .m70 {
         width: 70%;
    }
     .m75 {
         width: 75%;
    }
     .m80 {
         width: 80%;
    }
     .m85 {
         width: 85%;
    }
     .m90 {
         width: 90%;
    }
     .m95 {
         width: 95%;
    }
     .m100 {
         width: 100%;
    }
     .m-push-5 {
         left: 5%;
    }
     .m-push-10 {
         left: 10%;
    }
     .m-push-15 {
         left: 15%;
    }
     .m-push-20 {
         left: 20%;
    }
     .m-push-25 {
         left: 25%;
    }
     .m-push-30 {
         left: 30%;
    }
     .m-push-33 {
         left: 33.33%;
    }
     .m-push-35 {
         left: 35%;
    }
     .m-push-40 {
         left: 40%;
    }
     .m-push-45 {
         left: 45%;
    }
     .m-push-50 {
         left: 50%;
    }
     .m-push-55 {
         left: 55%;
    }
     .m-push-60 {
         left: 60%;
    }
     .m-push-65 {
         left: 65%;
    }
     .m-push-70 {
         left: 70%;
    }
     .m-push-75 {
         left: 75%;
    }
     .m-push-80 {
         left: 80%;
    }
     .m-push-85 {
         left: 85%;
    }
     .m-push-90 {
         left: 90%;
    }
     .m-push-95 {
         left: 95%;
    }
     .m-pull-5 {
         left: -5%;
    }
     .m-pull-10 {
         left: -10%;
    }
     .m-pull-15 {
         left: -15%;
    }
     .m-pull-20 {
         left: -20%;
    }
     .m-pull-25 {
         left: -25%;
    }
     .m-pull-30 {
         left: -30%;
    }
     .m-pull-33 {
         left: -33.33%;
    }
     .m-pull-35 {
         left: -35%;
    }
     .m-pull-40 {
         left: -40%;
    }
     .m-pull-45 {
         left: -45%;
    }
     .m-pull-50 {
         left: -50%;
    }
     .m-pull-55 {
         left: -55%;
    }
     .m-pull-60 {
         left: -60%;
    }
     .m-pull-65 {
         left: -65%;
    }
     .m-pull-70 {
         left: -70%;
    }
     .m-pull-75 {
         left: -75%;
    }
     .m-pull-80 {
         left: -80%;
    }
     .m-pull-85 {
         left: -85%;
    }
     .m-pull-90 {
         left: -90%;
    }
     .m-pull-95 {
         left: -95%;
    }
     .m-flip {
         float: right;
    }
     .m-no-padding {
         padding: 0;
    }
     .m-no-margin {
         margin: 0;
    }
     .m-hide {
         display: none;
    }
     .m-show {
         display: block;
    }
}
